@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'MerriweatherSans-Bold';
	src: url('../fonts/merriweathersansbold.eot');
	src: url('../fonts/merriweathersansbold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/merriweathersansbold.woff') format('woff'),
		 url('../fonts/merriweathersansbold.ttf') format('truetype'),
		 url('../fonts/merriweathersansbold.svg#merriweathersansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura-Bold';
	src: url('../fonts/futura-bold_upgrade-webfont.eot');
	src: url('../fonts/futura-bold_upgrade-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/futura-bold_upgrade-webfont.woff') format('woff'),
		 url('../fonts/futura-bold_upgrade-webfont.ttf') format('truetype'),
		 url('../fonts/futura-bold_upgrade-webfont.svg#futurabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
