.sliderHolder {
	-webkit-transform: translate3d(-733px,0,0);
	-moz-transform: translate3d(-733px,0,0);
	-ms-transform: translate3d(-733px,0,0);
	-o-transform: translate3d(-733px,0,0);
	transform: translate3d(-733px,0,0);
}

.history, .paytable, .options {
	background: url('../img/bg_history.jpg') no-repeat 0px 0px;
}