
/*  =============================================================================
   PADDY MENU
========================================================================== */

#top_menu {
	position: relative; display: block; z-index: 300;
    /* !!!!!!!!!!!!!!!!!!! DO NOT DELETE !!!!!!!!!!!!!!!!!!!!! */
    /*-webkit-transform: translateZ(0);*/
}

#user_bar {
	background: url(../img/topbar_bg_light.png) left top repeat-x;
	overflow: hidden;
	display: block;
	height: 50px;
}

#user_bar .data {
	float: left;
	background: url(../img/topbar_bg_dark.png) left top repeat-x;
	height: 49px;
}


#user_bar .balance, #user_bar .bet, #user_bar .free_bet, #user_bar .paid {
	display: block;
	float: left;
	background: url(../img/topbar_divider.png) right top no-repeat;
	padding: 7px;
	color: #89d398;
	height: 49px;
	min-width: 80px;
}
#user_bar .bet, #user_bar .free_bet, #user_bar .paid {
	min-width: 56px;
	max-width: 56px;

}
#user_bar .playMode { display: none; float: left; padding: 4px 12px 4px 10px; height: 41px;
	background: url(../img/topbar_divider.png) right top no-repeat, url(../img/topbar_bg_dark.png)  left top repeat-x;
}
#user_bar #playforreal { display: block; width: 172px; height: 40px; background: url(../img/playforreal.png) 0 0 no-repeat; }
#user_bar #playforreal:active { background-position: 0 -45px; }
#user_bar .data h3 { font: 10px/16px "Open Sans Bold"; margin: 0 0 2px; text-align: left; text-shadow: 1px 1px 0 rgba(0,0,0,.5); text-transform: uppercase;}

.blnc_val, #bet_value, .fbc_value {
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	display: block;
	color: #fff;
	text-align: left;
	font: 14px/15px "Open Sans Bold" !important;
}

#user_bar { position: relative; margin: 0 auto; text-align: center;  z-index: 300; line-height: 12px; }
#user_bar .ub_button { position: relative; display: block; width: 84px; height: 46px;  margin-top: 1px; background: url('../img/topbar_controls.png') no-repeat; }
#user_bar .dropdown_menu.active { background-position: -84px 0; }

#user_bar .home { float: right; background: url('../img/topbar_home.png') left top no-repeat; }
#user_bar .home:active { background-position: -84px 0;}
#user_bar .help { float: right; background-position: 0 -57px;   }
#user_bar .help:active { background-position: -84px -57px;}
.dopdown_menu { float: right; display: none;}
/*#user_bar .top_menu { display: none; }*/
/*#user_bar .menu_arrow { position: absolute; top: 44px; left: 18px; display: none; width: 21px; height: 9px; background: transparent url('../img/arrow_top.png') no-repeat 0 0; }*/
#top_menu.help a.help .menu_arrow { display: block; }

#user_bar .free_bet { display: none; }

/*#top_menu.help div.help { display: block; }*/
/*#user_bar div.data { display: inline-block; color: #fff; text-shadow: 1px 1px 2px #000; width: 215px; height: 53px; font-size:13px; }*/
/*div.data div { background-color: #124e1d; padding: 5px 0 0 7px; height: 21px; border-left: 1px solid #145a22; text-align: left; }
#user_bar div.balance { margin-bottom: 1px; }
#user_bar div.bet { float: left; width: 75px; }
 { border-left: none; text-align: right; padding-right: 3px; padding-left: 0; }*/
/* #user_bar div.wrapper{ border: 1px solid #d3d3d3; border-radius: 10px; background-color: #f5f5f5; text-align: left; }
#user_bar div.wrapper a { display: block; min-width: 340px; padding: 15px; background: transparent url('../img/arrow_bottom.gif') no-repeat 95% 15px; text-decoration: none; border-bottom: 1px solid #d3d3d3; border-radius: 0; float: none; position: static; height: auto; box-shadow: none; margin: 0; }
#user_bar div.wrapper a:last-child { border-bottom: none; } */
/*#top_menu.tools div.tools { display: block; }
#top_menu.tools div.wrapper { text-align: center; }
#top_menu.tools a.tools .menu_arrow { display: block; }*/
/*#user_bar .user { padding: 13px 13px 13px 50px; border-bottom: 1px solid #d3d3d3; min-width: 270px; background: transparent url('../img/icon.gif') no-repeat 14px 6px; text-align: left; }*/
/*#user_bar div.tools span.blnc_val { float: right; }*/
/*
#user_bar div.wrapper a.btn {
	display: inline-block; margin: 10px 0; padding: 6px 0; min-width: 300px; border-radius: 8px; color: #fff; text-align: center; text-shadow: 0 0 2px #000; font-size: 18px;

	background: #399dd3;
	background: -webkit-linear-gradient(top,  #399dd3 0%,#00518a 100%);
	background: linear-gradient(to bottom,  #399dd3 0%,#00518a 100%);
}*/
